build/
sdkconfig
sdkconfig.old

.vscode
.devcontainer

tests/

.clangd
__pycache__/

venv/
.venv/

*.db

*.Identifier
main/include/Config/Global.h
main/include/Config/SEGGER_SYSVIEW_Conf.h
main/include/SEGGER/SEGGER.h
CODE_REVIEW_UPDATED.md
ARCHITECTURE_REVIEW.md
FINAL_REVIEW.md
